<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Game{% endblock %}</title>
    <!-- Include CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <header>
        <h1>Deliberative Democracy Game</h1>
        {% if current_user.is_authenticated %}
        <p>Logged in as {{ current_user.character_name }} | <a href="{{ url_for('main.logout') }}">Logout</a></p>
        {% endif %}
        <nav>
            <a href="{{ url_for('main.dashboard') }}">Dashboard</a> |
            <a href="{{ url_for('main.project_list') }}">Projects</a> |
            <a href="{{ url_for('main.score_board') }}">Scoreboard</a> |
            <a href="{{ url_for('main.finished_projects') }}">Finished Projects</a> |
            <a href="{{ url_for('main.insight') }}">My Insights</a> <!-- Added link to insights page -->
        </nav>
    </header>
    <main>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Deliberative Democracy Game</p>
    </footer>
    <!-- Include JS files -->
</body>

</html>