{% extends "base.html" %}

{% block title %}Finished Projects{% endblock %}

{% block content %}
<div class="finished-projects-container">
    <h2 class="finished-projects-header">Finished Projects</h2>

    {% if projects %}
    <p>Total Completed Projects: {{ projects|length }}</p>

    <!-- Visualization of completed projects -->
    <div class="progress-bar-container completed-projects-container">
        <div class="progress-bar completed-projects"
            style="width: {{ (projects|length / total_projects) * 100 }}%; max-width: 100%;">
            {{ (projects|length / total_projects) * 100 | round(1) }}%
        </div>
    </div>

    <ul>
        {% for project in projects %}
        <li class="finished-project-item">{{ project.name }} - {{ project.description }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p class="no-projects-message">No completed projects available.</p>
    {% endif %}
</div>
{% endblock %}