Flask==2.2.2
Flask-Cors==5.0.0
Flask-Login==0.6.2
Flask-Migrate==4.0.7
Flask-SocketIO==5.3.2
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.1.1  # Added Flask-WTF
Werkzeug==2.2.2
WTForms==3.2.1
SQLAlchemy==1.4.41
alembic==1.13.2
numpy<2.0,>=1.23  # If needed, otherwise remove it
pandas==1.5.1     # If needed, otherwise remove it
requests==2.32.3
eventlet==0.33.3
python-engineio==4.10.1
python-socketio==5.11.4
simple-websocket==1.1.0
colorlog==6.8.2
PyYAML==6.0.1
tqdm==4.66.4
gunicorn==20.1.0
